<?xml version="1.0"?>
<model>
    <name>ur10</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>zhenpeng ge</name>
        <email>zhenpeng.ge@qq.com</email>
    </author>
    <description>
        SDF model for universal_robot (ur10) in Ignition Gazebo Simulator.
        the 3D model is from https://github.com/ros-industrial/universal_robot.
        the 3D model files is provided under BSD license.
        the SDF files is provided under MIT license.
    </description>
</model>