<?xml version="1.0"?>
<model>
  <name>ur10_robotiq140</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>zhenpeng ge</name>
    <email>zhenpeng.ge@qq.com</email>
  </author>

  <description>
    SDF model for UR10 robotic arm attached a Robotiq140 gripper.
    It depends on model UR10 and model Robotiq140.
  </description>
</model>